<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>
      
    <%- include('partials/navigation') %>

<!-- Sección de tarjetas debajo del título -->
    <div class="mt-4"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center"> <!-- Asegura que las tarjetas se centren en todo tamaño de pantalla -->
    
        <!-- Hamburguesa Clasica -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/cerveza.jpg" class="card-img-top" alt="bebida 1">
            <div class="card-body">
                <h5 class="card-title text-center">Cerveza Artesanal</h5>
                <p class="card-text text-center">Cerveza artesanal elaborada con ingredientes seleccionados, para un sabor único y auténtico.</p>
                <p class="card-price text-center">S/18.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
    
        <!-- Tequila -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="https://olmecaaltos.com/wp-content/uploads/2023/01/copa-margarita.webp" class="card-img-top" alt="bebida 2">
            <div class="card-body">
                <h5 class="card-title text-center">Tequila</h5>
                <p class="card-text text-center">Tequila premium delicioso para disfrutar solo o en cócteles refrescantes.</p>
                <p class="card-price text-center">S/16.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
    
        <!-- Alitas Acevichadas -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/mojito.png" class="card-img-top" alt="bebida 3">
            <div class="card-body">
                <h5 class="card-title text-center">Mojito</h5>
                <p class="card-text text-center">Refrescante cóctel con ron, hierbabuena, limón y un toque de soda.</p>
                <p class="card-price text-center">S/15.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
    
        <!-- Tequeños -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="https://www.wine.com.mx/cdn/shop/articles/7-caracteristicas-del-vino-tinto-merlot-wine-com-mx.jpg?v=1726854722" class="card-img-top" alt="bebida 4">
            <div class="card-body">
                <h5 class="card-title text-center">vino Tinto</h5>
                <p class="card-text text-center">Vino tinto de cuerpo robusto, ideal para acompañar carnes y quesos curados.</p>
                <p class="card-price text-center">S/20.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
    
        <!-- Anticucho -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/pisco.jpg" class="card-img-top" alt="bebida 5">
            <div class="card-body">
                <h5 class="card-title text-center">Pisco Sour</h5>
                <p class="card-text text-center">Cóctel clásico con pisco, limón, azúcar y clara de huevo, una mezcla perfecta de frescura y suavidad.</p>
                <p class="card-price text-center">S/15.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
    
        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="https://imag.bonviveur.com/chicha-morada.jpg" class="card-img-top" alt="bebida 6">
            <div class="card-body">
                <h5 class="card-title text-center">Jarra de Chicha Morada</h5>
                <p class="card-text text-center">Refrescante bebida peruana hecha a base de maíz morado y frutas naturales.</p>
                <p class="card-price text-center">S/13.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/agua.jpg" class="card-img-top" alt="bebida 7">
            <div class="card-body">
                <h5 class="card-title text-center">Agua Mineral San Luis</h5>
                <p class="card-text text-center">Bebida perfecta para hidratarte en cualquier momento del día, con el frescor que necesitas.</p>
                <p class="card-price text-center">S/4.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/incakola.jpg" class="card-img-top" alt="bebida 8">
            <div class="card-body">
                <h5 class="card-title text-center">Gaseosa Inca Kolaa</h5>
                <p class="card-text text-center"> Bebida gaseosa peruana, dulce y refrescante, ideal para acompañar tus comidas.</p>
                <p class="card-price text-center">S/6.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/cocacola.jpg" class="card-img-top" alt="bebida 9">
            <div class="card-body">
                <h5 class="card-title text-center">Gaseosa Coca Cola</h5>
                <p class="card-text text-center">l sabor inconfundible de Coca-Cola, una bebida carbonatada que nunca pasa de moda.</p>
                <p class="card-price text-center">S/6.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/maracuya.png" class="card-img-top" alt="bebida 10">
            <div class="card-body">
                <h5 class="card-title text-center">Jarra de Maracuya</h5>
                <p class="card-text text-center"> Bebida hecha a base de maracuyá, con un sabor tropical y refrescante, ideal para este verano.</p>
                <p class="card-price text-center">S/12.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/limonada.jpeg" class="card-img-top" alt="bebida 11">
            <div class="card-body">
                <h5 class="card-title text-center">Limonada frozen</h5>
                <p class="card-text text-center">Bebida refrescante con un toque ácido y dulce, perfecta para combatir el calor del día.</p>
                <p class="card-price text-center">S/15.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>

        <!-- Jarra de Chicha Morada -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
            <img src="/img/pina-colada.jpg" class="card-img-top" alt="bebida 11">
            <div class="card-body">
                <h5 class="card-title text-center">Piña Colada</h5>
                <p class="card-text text-center">Cóctel tropical de piña y coco, suave y refrescante, una excelente opción para relajarte.</p>
                <p class="card-price text-center">S/16.00</p>
                <button class="btn btn-danger d-block mx-auto">Añadir al carrito</button>
            </div>
            </div>
        </div>
        
        </div>
    </div>

    <%- include('partials/footer') %>
   </body>
</html>