<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>

    <%- include('partials/navigation') %>
 
     <section class="menu-section">
         <div class="container">
             <h2>Favoritos de Nuestros Clientes</h2><br>
             <div class="menu-items">
                 <div class="menu-item">
                     <img src="/img/cerveza.jpg" alt="Bebida 1">
                     <h3>Cerveza Artesanal</h3>
                     <p>S/18.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
                 <div class="menu-item">
                    <img src="https://olmecaaltos.com/wp-content/uploads/2023/01/copa-margarita.webp" alt="Bebida 2">
                    <h3>Tequila</h3>
                    <p>S/16.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>
                 <div class="menu-item">
                     <img src="/img/mojito.png" alt="Bebida 3">
                     <h3>Mojito</h3>
                     <p>S/15.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                     <img src="https://www.wine.com.mx/cdn/shop/articles/7-caracteristicas-del-vino-tinto-merlot-wine-com-mx.jpg?v=1726854722" alt="Bebida 4">
                     <h3>Vino Tinto</h3>
                     <p>S/20.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                     <img src="/img/pisco.jpg" alt="Bebida 5">
                     <h3>Pisco Sour</h3>
                     <p>S/15.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                    <img src="https://imag.bonviveur.com/chicha-morada.jpg" alt="Bebida 6">
                    <h3>Jarra de Chicha Morada</h3>
                    <p>S/13.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                 <div class="menu-item">
                    <img src="/img/agua.jpg" alt="Bebida 7" class="zoom">
                    <h3>Agua Mineral San Luis</h3>
                    <p>S/4.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/incakola.jpg" alt="Bebida 8">
                    <h3>Gaseosa Inca Kola</h3>
                    <p>S/6.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/cocacola.jpg" alt="Bebida 9">
                    <h3>Gaseosa Coca Cola</h3>
                    <p>S/6.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/maracuya.png" alt="Bebida 10">
                    <h3>Jarra de Maracuya</h3>
                    <p>S/12.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/limonada.jpeg" alt="Bebida 11">
                    <h3>Limonada frozen</h3>
                    <p>S/15.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/pina-colada.jpg" alt="Bebida 12">
                    <h3>Piña Colada</h3>
                    <p>S/16.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>
             </div>
         </div>
     </section>
     
     <footer>
         <p>&copy; 2025 La Parrilla de Chugo. Todos los derechos reservados.</p>
     </footer>
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>