<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>

    <%- include('partials/navigation') %>
      
     
     <footer>
         <p>&copy; 2025 La Parrilla de Chugo. Todos los derechos reservados.</p>
     </footer>
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>