<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>
    <%- include('partials/navigation') %>
 
     <section class="menu-section">
         <div class="container">
             <h2>Favoritos de Nuestros Clientes</h2><br>
             <div class="menu-items">
                 <div class="menu-item">
                     <img src="https://imag.bonviveur.com/hamburguesa-clasica.jpg" alt="Plato 1">
                     <h3>Hamburguesa Clasica</h3>
                     <p>S/8.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
                 <div class="menu-item">
                     <img src="/img/monstruo-burger.jpg" alt="Plato 2">
                     <h3>Mostri Burger</h3>
                     <p>S/12.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
                 <div class="menu-item">
                     <img src="https://makimaky.com/wp-content/uploads/2023/11/Alitas-Acevichadas-1024x1024.jpg" alt="Plato 3">
                     <h3>Alitas Acevichadas</h3>
                     <p>S/20.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                     <img src="https://panaderialalos.com/wp-content/uploads/2021/03/Tequenos-1.jpg" alt="Plato 4">
                     <h3>Tequeños</h3>
                     <p>S/11.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                     <img src="https://mandolina.co/wp-content/uploads/2024/02/anticuchos-brasilenos-1080x550-1-1200x675.jpg" alt="Plato 5">
                     <h3>Anticucho</h3>
                     <p>S/18.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>
 
                 <div class="menu-item">
                     <img src="/img/alitas-maracuya.jpg" alt="Plato 6">
                     <h3>Alitas Maracuya</h3>
                     <p>S/19.00</p>
                     <button class="add-to-cart">Añadir al carrito</button>
                 </div>

                 <div class="menu-item">
                    <img src="/img/pollo-broaster.jpeg" alt="Plato 7">
                    <h3>Pollo Broaster</h3>
                    <p>S/17.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/alitas-barbecue.png" alt="Plato 8">
                    <h3>Alitas Barbecue</h3>
                    <p>S/21.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/lomo.jpg" alt="Plato 9">
                    <h3>Lomo Saltado</h3>
                    <p>S/18.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/polloalaparrilla.jpg" alt="Plato 10">
                    <h3>Pollo a la Parrilla</h3>
                    <p>S/19.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/costillas-de-cerdo-al-horno.jpg" alt="Plato 11">
                    <h3>Chancho a la Parrilla</h3>
                    <p>S/22.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>

                <div class="menu-item">
                    <img src="/img/Popcorn.jpg" alt="Plato 12">
                    <h3>Popcorn Chicken</h3>
                    <p>S/14.00</p>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>
             </div>
         </div>
     </section>
     
     <footer>
         <p>&copy; 2025 La Parrilla de Chugo. Todos los derechos reservados.</p>
     </footer>
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>