<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>

    <%- include('partials/navigation') %>

    <section class="showcase-promociones">
         <div class="container">
            <!-- vacio -->
         </div>
     </section>
 
     <section class="menu-section">
         <div class="container">
             <h2>Disfruta de Nuestras Increibles Promociones</h2>
             <div class="menu-items">
                 <div class="menu-item-promo">
                     <img src="/img/promo_Hamburgesas.jpg" alt="Promocion 1">
                 </div>
                 <div class="menu-item-promo">
                     <img src="/img/dina.jpg" alt="Promocion 2">
                 </div>
                 <div class="menu-item-promo">
                     <img src="/img/mitad_precio.jpg" alt="Promocion 3">
                 </div>
 
                 <div class="menu-item-promo">
                     <img src="/img/vale_consumo.jpg" alt="Promocion 4">
                 </div>
 
                 <div class="menu-item-promo">
                     <img src="/img/bebida_gratis.jpg" alt="Promocion 5">
                 </div>
 
                 <div class="menu-item-promo">
                     <img src="/img/tequeños_gratis.jpg" alt="Promocion 6">
                 </div>
             </div>
         </div>
     </section>
     
     <footer>
         <p>&copy; 2025 La Parrilla de Chugo. Todos los derechos reservados.</p>
     </footer>
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>