<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>
      
    <%- include('partials/navigation') %>

       <!-- Imagen grande debajo del menú, responsive y ocupando toda la altura disponible -->
       <img src="/img/portada.jpg" alt="Imagen Grande" class="responsive-image">

       <h2 class="text-center mt-5">Disfruta de Nuestras Increibles Promociones</h2>
     
     <!-- Sección de tarjetas debajo del título -->
     <div class="container">
       <div class="row justify-content-center"> <!-- Asegura que las tarjetas se centren en todo tamaño de pantalla -->
     
         <!-- Hamburguesa Clasica -->
         <div class="col-md-4 d-flex justify-content-center mb-4"> 
           <div class="card" style="width: 20rem;"> 
             <img src="/img/bebida_gratis.jpg" class="card-img-top" alt="Hamburguesa Clasica" style="height: 300px; object-fit: cover;"> 
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
     
         <!-- Tequila -->
         <div class="col-md-4 d-flex justify-content-center mb-4">
           <div class="card" style="width: 20rem;">
             <img src="/img/dina.jpg" class="card-img-top" alt="Tequila" style="height: 300px; object-fit: cover;">
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
     
         <!-- Alitas Acevichadas -->
         <div class="col-md-4 d-flex justify-content-center mb-4">
           <div class="card" style="width: 20rem;">
             <img src="/img/mitad_precio.jpg" class="card-img-top" alt="Alitas Acevichadas" style="height: 300px; object-fit: cover;">
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
     
         <!-- Tequeños -->
         <div class="col-md-4 d-flex justify-content-center mb-4">
           <div class="card" style="width: 20rem;">
             <img src="/img/promo_Hamburgesas.jpg" class="card-img-top" alt="Tequeños" style="height: 300px; object-fit: cover;">
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
     
         <!-- Anticucho -->
         <div class="col-md-4 d-flex justify-content-center mb-4">
           <div class="card" style="width: 20rem;">
             <img src="/img/tequeños_gratis.jpg" class="card-img-top" alt="Anticucho" style="height: 300px; object-fit: cover;">
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
     
         <!-- Jarra de Chicha Morada -->
         <div class="col-md-4 d-flex justify-content-center mb-4">
           <div class="card" style="width: 20rem;">
             <img src="/img/vale_consumo.jpg" class="card-img-top" alt="Jarra de Chicha Morada" style="height: 300px; object-fit: cover;">
             <div class="card-body text-center">
               <button class="btn btn-danger">Ver más</button>
             </div>
           </div>
         </div>
         
       </div>
     </div>

    <%- include('partials/footer') %>
   </body>
</html>