<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title %></title>
      <%- include('partials/head') %>
   </head>
   <body>
      
    <%- include('partials/navigation') %>

    <!-- Sección Sobre Nosotros -->
    <section class="container my-5">
        <div class="row align-items-center">
            <!-- Columna de la imagen -->
            <div class="col-md-6 mb-4 mb-md-0 text-center">
                <img src="/img/dina.jpg" 
                alt="promocion bebida" 
                class="img-fluid rounded shadow-lg" 
                style="max-height: 550px; object-fit: cover;">
            </div>
            <!-- Columna del texto -->
            <div class="col-md-6">
                <h2 class="fw-bold text-center text-md-start mb-4" style="font-size: 2.5rem;">¡Gran Promo Solo por Hoy!</h2>
                <p style="font-size: 1.25rem; line-height: 1.8;">
                    ¡No dejes pasar esta increíble oferta! Disfruta de nuestros deliciosos Pop Corn Chicken y el crujiente Chicharrón de Pollo a un precio especial solo 
                    por hoy, 31 de enero. Es el momento perfecto para consentirte con estos exquisitos platos.
                </p>
                <p style="font-size: 1.25rem; line-height: 1.8;">
                    Ven con tu familia y amigos y aprovecha esta promoción limitada. No te pierdas la oportunidad de saborear estos manjares a un precio irresistible. 
                    ¡Te esperamos para disfrutar juntos!
                </p>
            </div>
        </div>
    </section>
  
  
  <!-- Espaciado entre la imagen y el footer -->
  <div class="mt-5"></div>
  </div>

    <%- include('partials/footer') %>
   </body>
</html>