<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <%- include('partials/head') %>
    
</head>
<body>
    <div class="main-container">
        <%- include('partials/navigation') %>

        <section class="content">
            <div class="container">
                <section class="about-section">
                    <img src="/img/nosotros.jpg" alt="Restobar" />
                    <div class="text">
                        <h2>Sobre Nosotros</h2>
                        <p>En <strong>La Parrilla de Chugo</strong>, nos especializamos en ofrecer una experiencia gastronómica única, destacándonos por la calidad de nuestros productos y el ambiente acogedor que brindamos a nuestros clientes. Nuestro compromiso es ofrecer las mejores parrillas de la ciudad, elaboradas con los ingredientes más frescos y de la más alta calidad.</p>
                        <p>Desde nuestra apertura, hemos trabajado arduamente para convertirnos en el establecimiento preferido de los amantes de la parrilla. Nuestras recetas están diseñadas para resaltar los sabores auténticos, cuidando cada detalle para garantizar la satisfacción de nuestros comensales.</p>
                        <p>Le extendemos una cordial invitación a visitarnos y disfrutar de una experiencia culinaria que quedará grabada en su memoria. ¡Esperamos darle la bienvenida pronto!</p>
                    </div>
                </section>
            </div>
        </section>

        <footer>
            <p>&copy; 2025 La Parrilla de Chugo. Todos los derechos reservados.</p>
        </footer>
    </div>
    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>
</body>
</html>
