<footer class="text-center text-lg-start text-white" style="background-color: #6b4818;">
    <!-- Sección de redes sociales -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Siguenos en Nuestras Redes Sociales:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/Laparrilladechugooficial" class="me-4 text-reset" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/parrilladechugo/" class="me-4 text-reset" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=51974829583&text=Enlace%3A%0Ahttps%3A%2F%2Ffb.me%2F2VwmChK2r%0A%0A%C2%A1Hola%21+Podr%C3%ADas+darme+m%C3%A1s+informaci%C3%B3n+de...&source_url=https%3A%2F%2Ffb.me%2F2VwmChK2r&icebreaker=%C2%A1Hola%21+Podr%C3%ADas+darme+m%C3%A1s+informaci%C3%B3n+de...&app=facebook&entry_point=post_cta&jid=51974829583%40s.whatsapp.net&show_keyboard=1&show_ad_attribution=1&source=FB_Post&token=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjEyNSJ9.eyJleHAiOjE3MzgxNzc4NzUsInBob25lIjoiNTE5NzQ4Mjk1ODMiLCJ0ZXh0IjoiRW5sYWNlOlxuaHR0cHM6XC9cL2ZiLm1lXC8yVndtQ2hLMnJcblxuXHUwMGExSG9sYSEgUG9kclx1MDBlZGFzIGRhcm1lIG1cdTAwZTFzIGluZm9ybWFjaVx1MDBmM24gZGUuLi4iLCJzb3VyY2VfdXJsIjoiaHR0cHM6XC9cL2ZiLm1lXC8yVndtQ2hLMnIiLCJpY2VicmVha2VyIjoiXHUwMGExSG9sYSEgUG9kclx1MDBlZGFzIGRhcm1lIG1cdTAwZTFzIGluZm9ybWFjaVx1MDBmM24gZGUuLi4iLCJhcHAiOiJmYWNlYm9vayIsImVudHJ5X3BvaW50IjoicG9zdF9jdGEiLCJqaWQiOiI1MTk3NDgyOTU4M1x1MDA0MHMud2hhdHNhcHAubmV0Iiwic2hvd19rZXlib2FyZCI6MSwic2hvd19hZF9hdHRyaWJ1dGlvbiI6MSwic291cmNlIjoiRkJfUG9zdCIsInNvdXJjZV9pZCI6IjYxODIzNDI3NDM1MDUzMSIsImNvbnRleHQiOiJBUkNMQ0tIUWpzb1NpSDN4RFJKWnRrTlZhWHlySHhGNHBFY2xEVkxRd29tWlRnTFRHTWkwUjN0blZzel9QRmU4dGNRenluNnlSVDBJalhsVGVuWVpJbnVqeFNGMm5ES3FJNF9xS1FuQ2ZhWXo4Q1hLV3A0OEpPLVRtRjRFU2I4aEk4WWNRNUZSV3BWSVVPVENaUHJjR0tWUE5lZ2NaQ2lqa0pRV1NJaFZ3YS1JMzdpcHlDNnBEWmpWTjRtNjlPMDdUTXRXeWF5ZzhaRnFnUEVuMnRkYjhBQ1hmVVRhaWxrM0pKN1pHNmVneFhxV3JROFNUZk90N01val9aeHRXTlFpU3BtTEFldzd6LTRsNEJqNjd5WXVPcjVxTVlCTWZNYzdrN01hUTRYbjVKWG1KTWdMNHJHWlB2c3hCY090aEZHdmI2bzlHNUlDOWF4QTlRS2pIMklXM2xDZ2NvZUE1dzlBN1B4Y0hyM2sifQ.65zNnhNTw770Lhn4YFa-H1B7Ljws8WoErikyBvq-65DWxdor-rbNffzWwyjtcrD3GZN_DI9MHrGDmEKGgc5BOQ&fbclid=IwY2xjawIGLtZleHRuA2FlbQIxMAABHVEGQ1DGS3hTPs8YxIywSIpbkOzvUd_WbD-PGF2aTE_6AlX9n8z4YCT8Bw_aem_1qRABljHmKcgEOy0CorUzg" class="me-4 text-reset" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </section>
  
    <!-- Sección de enlaces -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>La Parrilla de Chugo
            </h6>
            <p>
                La parrilla de chugo es una opción deliciosa y tradicional, ideal para quienes buscan un sabor auténtico. Preparada con carne de alta calidad, se cocina lentamente sobre brasas para lograr una textura jugosa por dentro y crujiente por fuera. Perfecta para acompañar con guarniciones frescas y disfrutar en cualquier ocasión.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p><a href="/platos" class="text-reset">Menu</a></p>
            <p><a href="/bebidas" class="text-reset">Bebidas</a></p>
            <p><a href="/promociones" class="text-reset">Promociones</a></p>
            <p><a href="/about" class="text-reset">Nosotros</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i> Huaycan, zona A Ucv 23, Lima, Peru</p>
            <p><i class="fas fa-envelope me-3"></i> laparrilladechugo@gmail.com</p>
            <p><i class="fas fa-phone me-3"></i> (+51) 974829583</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-reset fw-bold" href="https://www.facebook.com/Laparrilladechugooficial" target="_blank">La Parrilla de Chugo</a>
    </div>
  </footer>