<!--==================== HEADER ====================-->
<header class="header">
    <nav class="nav container">
       <a href="#" class="nav__logo">La Parrilla de Chugo</a>

       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li>
                <a href="/" class="nav__link">Inicio</a>
             </li>
             
             <li class="nav__item dropdown">
                <div class="dropdown__menu" id="dropdown-menu">
                    <div class="dropdown__profile">
                        <div class="dropdown__names">
                            <h3>Carta Gourmet</h3>
                        </div>
                    </div>
    
                    <div class="dropdown__list">
                        <a href="/platos" class="dropdown__link">
                            <i class="ri-restaurant-line"></i>
                            <span>Platos</span>
                        </a>
    
                        <a href="/bebidas" class="dropdown__link">
                            <i class="ri-cup-line"></i>
                            <span>Bebidas</span>
                        </a>
    
                        <a href="/promociones" class="dropdown__link">
                            <i class="ri-price-tag-3-line"></i>
                            <span>Promociones</span>
                        </a>
                    </div>
                </div>
            </li>

             <li>
                <a href="/about" class="nav__link">Sobre Nosotros</a>
             </li>

             <li>
                <a href="/carrito" class="nav__link">
                    <i class="ri-shopping-bag-line nav__icon"></i>
                    Carrito
                </a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
             <i class="ri-close-large-line"></i>
          </div>
       </div>

       <div class="nav__actions">
          <!-- Dropdown -->

          <div class="dropdown" id="dropdown">
             <div class="dropdown__profile">
                <div class="dropdown__names">
                   <span>Ericson Urbano</span>
                   <span>Usuario</span>
                </div>
 
                <div class="dropdown__image">
                   <img src="/img/user.png" alt="image">
                </div>
             </div>

             <div class="dropdown__list">
                <a href="#" class="dropdown__link">
                   <i class="ri-user-line"></i>
                   <span>Perfil</span>
                </a>

                <a href="#" class="dropdown__link">
                   <i class="ri-logout-box-r-line"></i>
                   <span>Salir</span>
                </a>
             </div>
          </div>

          <!-- Toggle button -->
          <div class="nav__toggle" id="nav-toggle">
             <i class="ri-menu-line"></i>
          </div>
       </div>
    </nav>
 </header>